- extends 'doppler/shift/catalog/base.haml'
- load i18n
- load seo

- block title
    - get_metadata as metadata
    - if not metadata.title.value
        = product.name
    - else
        = metadata.title.value

- block inner_breadcrumbs
    - include 'doppler/shift/catalog/snippets/breadcrumbs/catalog.haml'
    - include 'doppler/shift/catalog/snippets/breadcrumbs/category.haml'
    - include 'doppler/shift/catalog/snippets/breadcrumbs/product.haml'

- block doppler_content
    .hero-unit
        %h1
            = product.name
        - if product.price
            {% trans "Price" %}:
            %strong
                = product.price
            - if product.remainder
                {% trans "Remains in stock" %}:
                %strong
                    = product.remainder
                %em
                    {% trans "Last updated" %}
                    = product.remainder_update_time
                - include 'doppler/shift/checkout/snippets/add_to_cart_form.haml'
            - else
                {% trans "Not available now" %}
                - if product.reserved
                    = product.reserved
                    {% trans "reserved" %}
        - else
            %em
                {% trans "Not available now" %}
        - if product.description
            = product.description|safe
        - if product.enabled_images
            %ul.thumbnails
                - for image in product.enabled_images
                    %li.thumbnail
                        - include 'doppler/shift/catalog/snippets/image.haml'