- extends 'doppler/shift/catalog/base.haml'
- load i18n
- load seo

- block title
    - get_metadata as metadata
    - if not metadata.title.value
        = product.name
    - else
        = metadata.title.value

- block inner_breadcrumbs
    - include 'doppler/shift/catalog/snippets/breadcrumbs/catalog.haml'
    - include 'doppler/shift/catalog/snippets/breadcrumbs/category.haml'
    - include 'doppler/shift/catalog/snippets/breadcrumbs/product.haml'

- block main_container_class

-#- block doppler_content
- block catalog_tree
    .product_container
        .main_information
            .images
                .main_image
                    - if product.main_image
                        - with image=product.main_image
                            - with thumbnail_version="300x300"
                                - include 'doppler/shift/catalog/snippets/image.haml'
                    - else
                        {% trans "No image yet" %}
                .additional_images
                    - if product.enabled_images
                        %ul.thumbnails
                            - for image in product.enabled_images
                                %li.thumbnail
                                    - with thumbnail_version="80x80"
                                        - include 'doppler/shift/catalog/snippets/image.haml'
            .text
                %h1
                    = product.name
                - if product.colors_available
                    .colors_available
                        %h4 {% trans "Colors available: " %}
                        %ul.compact_color_list
                            - for color in product.colors_available
                                %li{:style => '{% if color.code %}background-color: {{ color.code }}; color: {{ color.inverted_code }}; border-color: {{ color.inverted_code }}{% endif %}'}
                                    = color.title
                                -#( here if sizes_available complex description else simple count of available items )
                                -#DRONEZ BETTER. I mean, a table is defenitely better.

                - if product.sizes_available
                    .sizes_available
                        %h4 {% trans "Sizes available: " %}
                        - for size in product.sizes_available
                            = size
                            -#( here if colors_available complex description else simple count of available items )
                            -#DRONEZ BETTER. I mean, a table is defenitely better.
                - if product.description
                    .description
                        = product.description|safe
            .shopping
                .stock_status
                    .remainder
                        - if product.remainder
                            {% trans "Remains in stock" %}:
                            %strong
                                = product.remainder
                            %em
                                {% trans "Last updated" %}
                                = product.remainder_update_time
                        - else
                            {% trans "Not available now" %}
                            - if product.reserved
                                = product.reserved
                                {% trans "reserved" %}
                    - if product.price
                        .price_block
                            .label
                                {% trans "Price" %}:
                            %strong.price
                                = product.price
                .add_to_cart_form
                    - if product.price and product.remainder
                        - include 'doppler/shift/checkout/snippets/add_to_cart_form.haml'


        - if product.you_might_be_interested_enabled_products or product.also_they_buy_with_this_product_enabled_products
            .additional_info
                - if product.you_might_be_interested_enabled_products
                    .you_might_be_interested
                        %p {% trans "You might be interested:" %}
                        %ul.thumbnails
                            - for p in product.you_might_be_interested_enabled_products
                                %li.thumbnail
                                    %a{:href => '{{ p.get_absolute_url }}'}
                                        - with thumbnail_version="40x40"
                                            - with image=p.main_image
                                                - with no_link=1
                                                    - include 'doppler/shift/catalog/snippets/image.haml'
                - if product.also_they_buy_with_this_product_enabled_products
                    .also_they_buy
                        %p {% trans "Also they buy with this product:" %}
                        %ul.thumbnails
                            - for p in product.also_they_buy_with_this_product_enabled_products
                                %li.thumbnail
                                    %a{:href => '{{ p.get_absolute_url }}'}
                                        - with thumbnail_version="40x40"
                                            - with image=p.main_image
                                                - with no_link=1
                                                    - include 'doppler/shift/catalog/snippets/image.haml'