- extends 'html5_empty.haml'
- load i18n
- load repeatblock
- enablemacros
- load seo
- block seo_meta
    - get_metadata as metadata
    = metadata.description
    = metadata.keywords

- block title
    - get_metadata as metadata
    - if metadata.title.value
        = metadata.title.value

- block sitewide_styles
    %link{'rel': 'stylesheet', 'href':'{{ MEDIA_URL }}bootstrap/css/bootstrap.css', 'type': 'text/css'}
    %link{'rel': 'stylesheet', 'href': '{{ MEDIA_URL }}jquery-lightbox/css/jquery.lightbox-0.5.css', 'type': 'text/css'}
    %link{'rel': 'stylesheet', 'href':'{{ MEDIA_URL }}css/western.sass', 'type': 'text/x-sass'}

- block sitewide_scripts
    %script{'type': 'text/javascript', 'src': '{{ MEDIA_URL }}js/jquery/jquery-1.7.2.min.js'}
    %script{'type': 'text/javascript', 'src': '{{ MEDIA_URL }}bootstrap/js/bootstrap.min.js'}
    %script{'type': 'text/javascript', 'src': '{{ MEDIA_URL }}jquery-lightbox/js/jquery.lightbox-0.5.js'}
    %script{'type': 'text/javascript', 'src': '{{ MEDIA_URL }}js/global.js'}
    %script{'type': 'text/javascript', 'src': '{{ MEDIA_URL }}js/layout.js'}

- block body
    - block navbar
        .navbar.navbar-fixed-top
            .navbar-inner
                .container
                    %a.brand{'href': '/'}
                        %span
                            магазин
                        %strong
                            {% trans "Western Unit" %}
                    -#.nav-collapse
                    .main_navigation
                        %ul.nav
                            - for cat in categories
                                %li{:class => '{% ifequal category.topmost_parent.pk cat.pk %}active{% endifequal %} {% ifequal category.pk cat.pk %}active{% endifequal %}'}
                                    %a{:href => '{{ cat.get_absolute_url }}'}
                                        = cat.name

                            - for p in root_pages
                                %li{:class => '{% ifequal page p %}active{% endifequal %}'}
                                    %a{:href => '{{ p.get_absolute_url }}'}
                                        = p.title
                            -#%li
                            -#    %a{'href': '/to-customer/'}
                            -#        Покупателю
                            -#%li
                            -#    %a{'href': '/contacts/'}
                            -#        Контакты
                            -#- include 'home_link.haml'
                            -#- block catalog_header_widget
                            -#    - include 'doppler/shift/catalog/snippets/header_widget.haml'
                            -#%li
                            -#    %a{'href': '/admin/'}
                            -#        {% trans "To admin" %}
                        - include 'accounts/snippets/header_widget.haml'
                    - block cart_header_widget
                        - include 'doppler/shift/checkout/snippets/header_widget.haml'

    - block main_container

        .container.main_container{:class => '{% block main_container_class %}{% endblock %}'}
            - block breadcrumbs
            - if messages
                - for message in messages
                    %div{'class': 'alert alert-{{ message.tags }}'}
                        = message
            %h1.page_caption
                - block page_caption
                    - get_metadata as metadata
                    - if metadata.heading.value
                        = metadata.heading.value

            - block content

            - repeat breadcrumbs

    - block footer
        %footer.footer.container{:class => '{% block footer_class %}{% endblock %}'}
            .footer-inner
                %p.pull-right
                    %a{'href': "#"}
                        {% trans "Back to top" %}

    - block modals
        - if request.user.is_anonymous
            - include 'accounts/snippets/login_modal.haml'
